.push{      /*Контейнер функция для толкания footer в низ страницы*/
    min-height: 55%;    /*Опускаем footer (Процентное значение зависит от нужной высоты footer*/
    height: auto !important;    /*Ставим автоматическу высоту, чтобы сам контейнер покрывал незанятую часть до footer*/
}

footer{     /*footer контейнер*/
    height: 142px;    /*Высота footer контейнера*/
    background: #cdcddb;    /*Цвет заднего фона*/
    display: flex;    /*Объявляет footer как flex объект для создания столбца из контейнеров*/
    align-items: center;    /*Центрируем главный контейнер в footer по поперечной оси*/
    justify-content: center;    /*Центрируем главный контейнер в footer по основной оси*/
}

.footer_block{    /*Блочный контейнер*/
    display: flex;    /*Объявляем footer_block как flex элементы для того, чтобы они имели приоритет над материнским контейнером для расположения внутри них элементов*/
    align-items: center;    /*Центрируем блочный контейнер по поперечной оси*/
}

#a_foot{    /*Ссылки внутри контейнеров p*/
    color: #47474b;    /*Цвет ссылки*/
}

#gerb{
    width: 5%;
    margin-right: 50px;    /*Небольшой отступ вправо от текста*/
}
