.nav_pannel{    /*Навигационная панель*/
  background-color: #cdcddb;    /*Задний фон навигационной панели*/
  height: 100px;    /*Выстора навигационное панели*/
  display: flex;    /*Объявляем всю навигационную панель flex элементом*/
  align-items: center;    /*Центрируем все объекты внутри панели по поперечной оси (Y)*/
  color: #47474b;
}

.img_nav_conteiner{    /*img контейнер*/
  margin-left: 20px;    /*Создаём отступ слева для контейнера*/
}

.menu_container{    /*Контейнер для меню*/
  display: flex;    /*Объявляем меню как flex объект*/
  justify-content: center;    /*Центрируем объекты внутри понели по основной оси (X)*/
  align-items: center;    /*Центрируем все объекты внутри панели по поперечной оси (Y)*/
  width: 100%;    /*Контейнер меню занимает всю ширину панели*/
  height: inherit;    /*Ставим высоту как у материнского контейнера*/
}

#a_nav1 {    /*Dropdown ссылка на описания модуля*/
  font-size: 30px;    /*Размер текста*/
  cursor: pointer;    /*Изменение курсора при наведении*/
}
  
.dropdown {    /*Контейнер для элементов*/
  margin-inline: 50px;    /*Междустрочный отступ у контейнеров*/
}
  
.dropdown_content {   /*dropdown контейнер для ссылок*/
  display: none;    /*Скрываем по умолчанию*/
  text-align: center;    /*Центрируем весь текст ссылок по центру*/
  width: 140px;    /*Ставим ширину таблицы*/
  position: absolute;    /*Ставим абсолютную позицию, чтофбы он не залезал на другие элементы*/
  background-color: #cdcddb;    /*Цвет заднего фона*/
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);    /*Тень позади таблицы*/
}
  
 #a_nav {    /*Ссылки внутри dropdown*/
  padding: 12px 16px;    /*Делаем отступы у ссылок*/
}
  
.dropdown_content #a_nav:hover {    /*Изменение цвета при наведении на ссылки*/
  background-color: #a1a1af
}
  
.dropdown:hover .dropdown_content {    /*Показывает список с ссылками при наведении*/
  display: block;
}

#a_nav, #a_nav1{
  display: block;    /*Объявляем блочными элементами*/
  text-decoration: none;    /*Убираем подчёркивание ссылок*/
  color: inherit;    /*Убираем стандартное выделение цвета для ссылки*/
  position: relative;    /*Ставим позицию relative для создания анимаций*/
}

#a_nav::before {    /*Анимация нижней линии для ссылкок*/
  content:"";    /*Ставим пустое значение для работы анимации*/
  position: absolute;    /*Ставим абсолютную (absolute) позицию для псевдоэлемета, чтобы можно было настроить положение линии*/
  width: 100%;    /*Ставим ширину во весь размер материнского контейнера (li)*/
  height: 3px;    /*Высота нижней линии*/
  background-color: #47474b;    /*Цвет нижней линии*/
  bottom: 15%;    /*Распологаем линию внизу*/
  left: 50%;    /*Распологаем линию по центру контейнера*/
  transform: translateX(-50%) scaleX(0);    /*Скрываем линию*/
  transform-origin: center;    /*Ставим начало анимации с центра*/
  transition: transform 0.7s;    /*Длительность анимации*/
}

#a_nav:hover::before {
  transform: translateX(-50%) scaleX(1); /*Анимация нижней линии*/
}
